.input-component{
    padding: 7px 12px;
    margin: 0px 10px;
}

.btn{
    background-color: #222121;
    border: none;
    padding: 10px 24px;
    color: white;
    float: right;
    outline: none;
    cursor: pointer;
    transition: 140ms ease;

    &:hover{
        background-color: white;
        color: #222121;
    }
}

div{
    max-width: 200px;
}