.sidenav{
    background-color: #303030;

    a{
        text-decoration: none;
        color: white;
        font-weight: 500;
    }
    
    i{
        margin-right: 10px;
        color: white;
    }

}