<h2>Login</h2>

<!-- <form action=""> -->
    <p>
        <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input type="text" matInput placeholder="username">
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="password">
        </mat-form-field>
    </p>

    <button type="submit" mat-stroked-button color="primary">Login</button>

<!-- </form> -->

<div class="router">
    <span>Não possui uma conta ?</span>
    <a href="">Cadastre-se aqui</a>
</div>