<h2>Login</h2>

<form [formGroup]="form" (ngSubmit)="login()">
    <p>
        <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input formControlName="email" type="email" matInput placeholder="e-mail">
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input formControlName="password" type="password" matInput placeholder="password">
        </mat-form-field>
    </p>

    <button type="submit" mat-stroked-button color="primary">Login</button>

</form>

<div class="router">
    <span>Não possui uma conta ?</span>
    <a routerLink="/register">Cadastre-se aqui</a>
</div>