<div class="wrapper">

    <mat-card class="">

        <mat-card-title>Delete item</mat-card-title>

        <form>
            <mat-form-field>
                <input name="name" matInput type="text" placeholder="Name" [(ngModel)]="item.name" disabled>
            </mat-form-field>

            <mat-form-field>
                <input name="lastName" matInput type="text" placeholder="Last name" [(ngModel)]="item.lastName" disabled>
            </mat-form-field>
        </form>

        <button mat-raised-button color="primary" (click)="cancel()">
            Cancel
        </button>

        <button mat-raised-button color="warn" (click)="deleteItem()">
            Delete item
        </button>


    </mat-card>

</div>