div, table{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.crud-container{
  width: 100%;
  padding: 40px;
}

table {
    width: 100%;
    margin: 0px auto;
    border-radius: 12px;
    overflow: hidden;
  }

  button{
    margin: 15px 15px 15px 0px;
  }