<div *ngIf="postProgress === 'pending'">

  <h1 mat-dialog-title>New Post</h1>

  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput [(ngModel)]="title">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput [(ngModel)]="description">
    </mat-form-field>
  </div>

    <input type="file" id="input-upload" accept="image/*" (change)="imageUpload($event)">

  <div mat-dialog-actions>
    <button mat-stroked-button (click)="close()" color="accent">Cancel</button>
    <button mat-stroked-button (click)="post()" color="primary">Post</button>
  </div>

</div>

<div class="spinner" *ngIf="postProgress === 'uploading'">
  <mat-spinner></mat-spinner>
</div>