<h1 mat-dialog-title>Criar</h1>
<div mat-dialog-content>
  <p>Preencha os dados:</p>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="modalData.name">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Text</mat-label>
    <input matInput [(ngModel)]="modalData.text">
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="create(modalData)" [mat-dialog-close]="modalData" cdkFocusInitial>Criar</button>
</div>