.sidenav{
    background-color: #3f51b5;
    width: 150px;
}

.sidenav a {
    color: white;
}

.nav-list i {
    padding: 0px 10px 0px 0px;
}

.content{
    color: #292929;
    padding: 16px;
    background-color: #fafafa;
}