<h2>Register</h2>

<form [formGroup]="form" (ngSubmit)="registerUser()">
    <p>
        <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input name="email" formControlName="email" type="email" matInput placeholder="E-mail">
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input name="username" formControlName="username" type="text" matInput placeholder="username">
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input name="password" formControlName="password" type="password" matInput placeholder="password">
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline">
        <mat-label>Repeat Password</mat-label>
        <input name="repeat-password" formControlName="repeat-password" type="password" matInput placeholder="password">
        </mat-form-field>
    </p>

    <button type="submit" mat-stroked-button color="primary">Register</button>

</form>

<div class="router">
    <span>Já possui uma conta ?</span>
    <a routerLink="/login">Entre aqui</a>
</div>