.exercicio04-wrapper{
    margin: 0;
    padding: 30px;
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid #dfdfdf;

    h2{
        font-weight: bold;
        font-size: 18px;
    }

    div{
        margin: 10px;
    }

    input{
        margin: 10px;
    }

    button{
        margin: 5px;
    }
}